.button {
   -fx-background-color: #740024; /* Color de fondo rojo */
   -fx-border-color: #e81006; /* Color del borde marrón */
   -fx-border-width: 2px; /* Ancho del borde */
   -fx-text-fill: #DAA520; /* Color de texto dorado */
   -fx-font-family: 'Pixellari'; /* Fuente pixelada */
   -fx-font-size: 16px; /* Tamaño de la fuente */
}

.button:hover {
   -fx-background-color: #8B4513; /* Color de fondo marrón al pasar el ratón */
   -fx-text-fill: #FF0000; /* Color de texto rojo al pasar el ratón */
}

.button:pressed {
   -fx-background-color: #8B4513; /* Color de fondo marrón al presionar el botón */
   -fx-text-fill: #FF0000; /* Color de texto rojo al presionar el botón */
}