.check-box .box {
    -fx-background-color: #7a0027;
    -fx-border-color: #b60000;
    -fx-border-width: 3;  
}

.check-box:selected .box {
    -fx-background-color: #7a0027;
    -fx-border-color: #b60000;
}

.check-box:selected .mark {
    -fx-background-color: yellow;
}