.button {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../../img/chips/1000.png");
}

.button:hover {
    -fx-background-image: url("../../img/chips/1000hover.png");
}