.button1 {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../../img/chips/1.png");
}

.button1:hover {
    -fx-background-image: url("../../img/chips/1hover.png");
}

.button10 {
    -fx-background-image: url("../../img/chips/10.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button10:hover {
    -fx-background-image: url("../../img/chips/10hover.png");
}

.button100 {
    -fx-background-image: url("../../img/chips/100.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button100:hover {
    -fx-background-image: url("../../img/chips/100hover.png");
}

.button1000 {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../../img/chips/1000.png");
}

.button1000:hover {
    -fx-background-image: url("../../img/chips/1000hover.png");
}

.button5 {
    -fx-background-image: url("../../img/chips/5.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button5:hover {
    -fx-background-image: url("../../img/chips/5hover.png");
}

.button50 {
    -fx-background-image: url("../../img/chips/50.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button50:hover {
    -fx-background-image: url("../../img/chips/50hover.png");
}

.button500 {
    -fx-background-image: url("../../img/chips/500.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button500:hover {
    -fx-background-image: url("../../img/chips/500hover.png");
}